@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.loadingBox {
  background: white url("./assets/loadingbg.png") no-repeat fixed center;
  
}

@media screen and (max-width: 768px) {
  .loadingBox {
    background: none;
  }
  .loadingText {
      padding-top: 30% 
    }
}
